.container{
    background:white;
    padding:10px;
}

.border{
    border:2px solid #f3f2f2;
    border-radius: 5px;
}

.background-color{
   background:#061d3f;
}

.text-color{
    color: white;
}

.border-none{
    border:none
}